
   <!-- Sidebar -->
   <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GESTION STOCK</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard/categories" 
            >
            <i class="fas fa-fw fa-cog"></i>
            <span>Categories</span>
        </a>
    
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'articles' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Articles</span>
        </a>
        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'vendeurs' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Vendeurs</span>
        </a>
    
    </li>
    
    </li>
  

    <!-- Divider -->
    <hr class="sidebar-divider">

 

    


<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Select "Logout" below if you are ready to end your current session.</p>

                <!-- Ajoutez votre formulaire ici -->
                <form method="post" action="{% url 'dashboard-logout' %}">
                    {% csrf_token %}
                    <!-- Ajoutez d'autres champs ou informations si nécessaire -->
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

   

</ul>
<!-- End of Sidebar -->