<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Boutons Login et Logout adaptés à la gestion de stock -->
        <li class="nav-item">
            {% if user.is_authenticated %}
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ user.username }}
                </span>
                <a class="nav-link" href="{% url 'dashboard-logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'dashboard-login' %}">Login</a>
            {% endif %}
        </li>

    </ul>

</nav>

